<% if flash[:alert] %>
    <div id="alert">
        <p><%= flash[:alert] %></p>
    </div>
<% end %>

<%= form_tag do %>
    <div>
        <label>Username</label>
        <%= text_field_tag :username, params[:username] %>
    </div>

    <div>
        <label>Password</label>
        <%= password_field_tag :password, params[:password] %>
        <%= submit_tag "Log in", :class => "submit" %>
    </div>
<% end %>