<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Beatstream - alpha</title>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/icon_32x32.png" sizes="32x32" />
    <link rel="icon" href="/icon_48x48.png" sizes="48x48" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
    <header id="header">
        <h1 id="logo">
          <a href="/">Beatstream</a>
          <small>alpha</small>
        </h1>
        <div id="user-panel">
            <a>
                <span class="name"><%= session[:username] ? session[:username] : 'You' %></span>
                <span class="dropdown"></span>
            </a>
            <ul id="user-menu">
                <li class="head"><span></span></li>
                <li><a href="#!/settings" class="settings">Settings</a></li>
                <li><%= link_to 'Logout', logout_path, :method => :delete %>
            </ul>
        </div>
    </header>

    <div id="main">
        <div id="sidebar"></div>
        <div id="content">
            <div id="content-wrap">
                <%= yield %>
            </div>
        </div>
    </div>

    <div class="player" id="player">
        <h5 id="player-song"><span class="label">Current song:</span> <span class="track">None</span></h5>
        <div id="player-controls">
            <div id="player-buttons">
                <button id="prev" type="button" disabled="disabled">Prev</button>
                <button id="play-pause" type="button" disabled="disabled">Play/pause</button>
                <button id="next" type="button" disabled="disabled">Next</button>
            </div>
            <label id="player-volume-label">Volume</label>
            <div id="player-volume">
                <div id="player-volume-slider"></div>
            </div>
            <p id="player-time">
                <span class="elapsed">00:00</span> / <span class="duration">00:00</span>
            </p>
            <div id="player-buttons-2">
                <button id="repeat" type="button">Repeat <span class="status">Off</span></button>
                <button id="shuffle" type="button">Shuffle <span class="status">Off</span></button>
            </div>
            <div id="seekbar">
                <div id="seekbar-slider"></div>
            </div>
        </div>
    </div>
</div>
<div class="preloader">
    <div class="loading">Loading</div>
</div>

<%= javascript_include_tag "application" %>

</body>
</html>
